TZ=Asia/Bangkok
APP_PORT=9000
APP_ENV=local

POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=password
POSTGRESQL_HOST=localhost
POSTGRESQL_DATABASE=template_db
POSTGRESQL_SCHEMA=public
POSTGRESQL_SSL=false